{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - TDL</title>
    <!-- Link to the CSS stylesheet and favicon -->
    <link rel='stylesheet' href='static/css/style.css'>
    <link rel='stylesheet' href='static/css/custom.css'>
    <link rel='shortcut icon' href='/static/img/favicon.png' type='image/x-icon'>
    <!-- Also link to some fonts hosted by Google -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
    <header class="cabecalho">
      <h1>
        <img class="logo" src="/static/img/favicon.png" alt="logo">
        <a href='/' class="titulo">To Do List</a>
      </h1>
    </header>
    <section>
        {{template "body" .}}
    </section>
    {{template "footer" .}}
</body>

</html>
{{end}}