.cabecalho{
  border-bottom: 0px;
  
}
.button{
  border-radius : 15px !important;
}
.logo{
  width: 60px;
  margin-bottom: -20px;
  margin-right: -45px;
}
.excluir{
  width:23px;
    position: absolute;
    margin-top: -13px;
    margin-left: 370px;
}
.editar{
  width:23px;
  position: absolute;
  margin-top: -13px;
  margin-left: 350px;
}
.marcado{
  text-decoration-line: line-through !important;
}
.inputentrar{
   border: 1px black solid !important; 
}
.tarefa{
  color: black;
  text-decoration: none;
}